.profile-container {
    width: 100%;
    background-color: inherit;
    display: flex;
    justify-content: space-between;
    height: auto;
}

.profile-container .left {
    width: 25%;
    display: flex;
    min-height: 500px;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 40px 20px 0px;
    border: none;
    border-radius: 5%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    position: relative;
}

.profile-container .left .edit {
    position: absolute;
    top: 15px;
    right: 8%;
    cursor: pointer;
}

.profile-container .right {
    width: 70%;
    display: flex;
    height: 100%;
    overflow-y: scroll;
}


.profile-container .left .profile-image {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    background-color: white !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 3px solid rgb(239, 149, 53);
    overflow: hidden;
    padding: 2px;
}

.profile-container .left .profile-image .overlay-text {
    position: absolute;
    color: black;
    font-size: 14px;
    /* Semi-transparent background for better readability */
    padding: 5px;
    border-radius: 5px;
    text-align: center;
    width: 120px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.profile-container .left .profile-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.profile-container .left .profile-details {
    width: 100%;
    height: auto;
    padding: 0px 20px;
    margin-top: 20px;
    font-size: 16px;
}

.profile-container .left .profile-details p {
    margin-top: 5px;
}

.bio {
    color: black;

}

.profile-container .left .profile-rest p {
    width: 30%;
    text-align: center;

}

.profile-container .left .profile-rest {
    display: flex;
    padding: 0px 10px;
    margin-top: 20px;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    padding: 0 20px;
}

.profile-container .left .profile-rest div {
    width: auto;
    text-align: center;
}

.center {
    width: 100%;
    text-align: center;
    margin: 0 auto;
}

.bold {
    font-weight: 700;
}

h4 {
    margin-top: 5px;
}

.edit-modal {
    position: absolute;
    top: 10%;
    left: auto;
    width: 90%;
    margin: 0 auto;
}

#edit-form {
    width: 100%;
    margin: 20px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#edit-form div {
    width: 60%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#edit-form div label {
    width: 40%;
}

#edit-form div input {
    width: 60%;
}
#edit-form div .bio-area {
    width: 60%;
}